/* events and new */

.intro-banner3 {
    justify-content: space-evenly;
    background-image: url("../img/bgs/zenji.jpg");
    height: 638px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -28px;
}

.overlay:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 91%;
    display: block;
    z-index: 0;
    background-color: #c5c5c53d;
}

.event * {
    position: relative;
}

.event h2 {
    vertical-align: top;
    position: relative;
    color: white;
    text-align: center;
    padding: 24px;
    top: 150;
}

.news, .featured-news {
    font-family: "league-spartan", sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.3157894737;
    letter-spacing: 0.040em;
}

.special {
    display: inline-block;
    width: 51px;
    height: 51px;
    padding-top: 11px;
    font-size: 24px;
    text-align: center;
    vertical-align: bottom;
    border: 2px solid #ffffff;
    border-radius: 26px;
}

.featured-news::after {
    display: block;
    width: 15%;
    height: 2px;
    margin: 25px 0 0;
    content: '';
    background-color: #01244b;
}

.blog-img>img {
    display: inline-block;
    /* height: auto; */
    max-width: 100%;
    width: 100%;
    max-height: 260px;
    border: 1px solid #333333;
}

.blogimg>img, {
    width: 100%;
    height: 320px;
}

.header_style::after {
    position: absolute;
    bottom: -15px;
    left: -100px;
    display: block;
    background-color: #b41225;
    width: 15%;
    height: 2px;
}

.header_style {
    position: relative;
      font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
}

.blog {
    padding-right: 15px;
}

.article-feature_content .header_style{
    position: relative;
}
@media (min-width: 768px){
.article-feature_content 
.header_style::after, 
.article-feature_content, 
h3::after, .article-feature_content h3::after{
    position: absolute;
    display: block;
    height: 2px;
    background-color: #ff5403;
    margin-top: 45px;
    left: -55;
    width: 120px;
    top: 10;
}
.cart-section-lst.section-padding.white-bg{
    border-bottom:1px solid #e4e2e2;
}
}