/* events and new */

.intro-banner3 {
    justify-content: space-evenly;
    background-image: url("../img/bgs/zenji.jpg");
    height: 638px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -48px;
    opacity: 0.8;
}

/* .overlay:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 91%;
    display: block;
    z-index: 0;
    background-color: #c5c5c53d;
} */

.event * {
    position: relative;
}

.event h2 {
    vertical-align: top;
    position: relative;
    color: white;
    text-align: center;
    padding: 24px;
    top: 150px;
}
.news, .featured-news {
    font-weight: bold;
    font-size: 38px;
    line-height: 1.3157894737;
    letter-spacing: 0.040em;
}
.news-page{
    line-height: 1.3157894737;
    letter-spacing: 0.040em;
    text-align: center;
    color: #fff;
    position: relative;
    top: 120px;
}

.special {
    display: inline-block;
    width: 51px;
    height: 51px;
    padding-top: 11px;
    font-size: 24px;
    text-align: center;
    vertical-align: bottom;
    border: 2px solid #ffffff;
    border-radius: 26px;
}

.featured-news::after {
    display: block;
    width: 15%;
    height: 2px;
    margin: 25px 0 0;
    content: '';
    background-color: #01244b;
}

.blog-img>a img {
    display: inline-block;
    /* height: auto; */
    max-width: 100%;
    width: 100%;
    max-height: 260px;
    border: 1px solid #333333;
}

.blogimg>img, {
    width: 100%;
    height: 320px;
}

.header_style::after {
    position: absolute;
    bottom: -15px;
    left: -100px;
    display: block;
    background-color: #b41225;
    width: 15%;
    height: 2px;
}

.header_style {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
}

.blog {
    padding-right: 15px;
}

.article-feature_content .header_style {
    position: relative;
}

@media (min-width: 768px) {
    .article-feature_content .header_style::after, .article-feature_content, h3::after, .article-feature_content h3::after {
        position: absolute;
        display: block;
        height: 2px;
        background-color: #00a3dd;
        margin-top: 45px;
        left: -55;
        width: 120px;
        top: 10;
    }
    .cart-section-lst.section-padding.white-bg {
        border-bottom: 1px solid #e4e2e2;
    }
}

.container.upcoming_events {
    position: relative;
    top: 25;
    margin-bottom: 44px;
}

.events-news {
    display: flex;
}

.event-date a {
    font-size: 30px;
    font-weight: 700;
    position: relative;
    top: 55;
    left: 50;
    color: #00a3dd;
}

.hero_inner {
    background-color: #dadada36;
}

@media (min-width: 1000px) {
    .hero_inner-article .hero__layout {
        padding: 103px 0 0 0px;
        margin-top: -6px;
    }
    .description {
        padding: 0 0 44px;
    }
    .description {
        text-align: center;
    }
}

.site__title_inner {
    position: relative;
    font-size: 30px;
    line-height: 34px;
}

.site__title {
    position: relative;
    font-size: 24px;
    line-height: 24px;
    color: #435a65;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 768px) {
    .article-info {
        top: 40px;
        position: relative;
    }
    .hero_inner-article .hero__layout {
        padding: 106px 0 0 0px;
    }
    .article-info {
        left: 0;
        width: 100%;
        text-align: center;
    }
   .description p {
        white-space: pre-line;
        letter-spacing: 0.4px;
        text-align: justify;
         max-width: 746px;
        margin: 0 auto 24px;
    }
    .article-info__item {
        padding: 18px 46px 14px;
        margin: 0 3px 16px;
    }
}

.article-info__item {
    display: inline-block;
    vertical-align: top;
    padding: 18px 51px 14px;
    margin-bottom: 16px;
    background: #fff;
    box-shadow: 0 0 50px 0 rgb(218, 218, 218);
    font-size: 16px;
    color: #435965;
    text-transform: uppercase;
}

.site__centered {
    position: relative;
    z-index: 1;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.site__centered img {
    width: 50%;
    height: auto;
}
.site__centered figure img{
    width: 100%;

} 
.wp-block-image .aligncenter, .wp-block-image .alignleft, .wp-block-image .alignright, .wp-block-image.is-resized {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.wp-block-image .alignleft .wp-block-image .alignright{
    float: none;
    margin-right: 1em;
}

/* for event single page */
.page-segment.segment-flush {
    padding-top: 0;
    padding-bottom: 0;
}

.bg-tint, .segment-tint {
    background-color: #dadada36;;
}
@media (min-width: 768px) {
.page-segment {
    padding-top: 50px;
    padding-bottom: 50px;
}
.page-segment {
    padding: 35px 0;
}
.col-sm-push-6,.col-md-push-6 {
    left: 50%;
} 
.col-sm-pull-6,.col-md-pull-6 {
    right: 50%;
}
}

.segment-graphic > img{
    width: 80%;
    height: auto;
    padding-bottom: 20px;
    padding-top: -6px;
}
.event-attr-list-lg {
    font-size: 15px;
}

.event-attr-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.page-title{
    position: relative;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.event-attr-list-lg>li {
    margin-bottom: 15px;
}

