
.navmenu.navbar.navbar-inverse.navbar-fixed-top {
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 12px 18px;
  border-color: #ffffff;
  transition: background-color 0.4s ease-out;
}

nav.scroll.navbar.navbar-inverse.navbar-fixed-top{
background-color: rgba(61,61,61,0.66);
border-bottom:rgba(61,61,61,0.66); 
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  color: #eef;
}
.primary-items .sub-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}

.primary-items > lii {
    display
    : inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.primary-items a {
    display: block;
}

.primary-items li {
    position: relative;
}
.primary-items li:first-child {
    padding-left: 0;
}
.primary-items li:hover > .sub-menu {
    display: block;
}
.primary-items li.menu-item-has-children {
    padding-right: 10px;
}
.primary-items li.menu-item-has-children::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    font-size: 14px;
    position: absolute;
    top: 7px;
    right: 5px;
    display: inline-block;
    content: "\f107";
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.primary-items li.menu-item-has-children::after:hover {
    content: "\f106";
    color: #4caf5b;
}
.primary-items li.menu-item-has-children:hover::after {
    content: "\f106";
}

.primary-items a {
    font-size: 14px;
    text-transform: uppercase;
    color: #454545;
}
.primary-items a:hover {
    color: #4eb4e4;
}

.primary-items .sub-menu {
    position: absolute;
    z-index: 9999;
    left: 0;
    display: none;
    margin-top: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  color: #eef;
    border-radius: 4px;
}
.primary-items .sub-menu li {
    margin: 0;
    padding: 0;
}
.primary-items .sub-menu li a {
    border-top: 0;
    font-size: 14px;
}
.primary-items .sub-menu a {
    line-height: 20px;
    min-width: 170px;
    margin: 0;
/*    border-top: 1px solid #f4f4f4;
*/    background-color: #fff;
    color: #333;
}
.primary-items .sub-menu a:hover {
    color: #fff;
    background-color: #4eb4e4;
    opacity: 0.7;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  color: #eef;
    border-radius: 4px;

}
@media (max-width: 768px){
      #menu-primary-items {
/*        display: none;
*/    }
}

@media (min-width: 767px) {
      .blog-content.clearfix, .blog_details{
    padding-left: 11em;
    padding-right: 11em;
}
figure .blog-img{
    width: 100%;
  }
}
.blog_details h2{
	 font-family: sans-serif;
    font-weight: 400;
    margin-top: 0;
    color: #422d3f;
     padding-top: 25px;
     text-transform: capitalize;
}

.blog_details p{
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;

}
.navmenu ul, .scroll ul{
margin-top: 15px;
}
.postdate {
    /* display: inline-block; */
    margin-left: 12px;
    padding-left: 12px;
    border-left: #ccc 1px solid;
    white-space: nowrap;
}
.auth {
    color: #422d3f;
    font-weight: 700;
    padding: 1% 1% 4% 0;
}
.blog-link{
	border-radius: 4px;
    border: 2px solid #4eb4e4;
    color: #666;
    display: inline-block;
    padding: 5px 10px;
    -webkit-transition-property: color,border,background-color;
    transition-property: color,border,background-color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}
.post-page{
	position: relative;
   padding-bottom: 4rem;
   border-bottom: 1px solid #cdcdcd;
    word-wrap: break-word;
  margin-bottom: 20px; 

}
 #headering{
    height: auto;
    width: 100% !important;
    display: none;
 }
 .blog-header{
    background-image: url('../img/backgrounds/Blog-image.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    text-align: center;
      background-position:  bottom center;
 }

@media screen and (min-width: 800px){
.section-title.text-center {
    float: left;
    margin-right: 2.3576515979%;
    width: 35%;
    margin-left: 32.5894128995%;
    text-align: center;
    background-color: rgba(80, 180, 228, 0.66);
    border-radius: 40px;
    margin-top: 10%;
}
.blog-header{
    height: 300px;
 }
 #blog-title{
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-size: 24px;
     padding: 6px;

}
}
@media screen and (max-width: 800px){
#blog-title {
    width: 100%;
    text-align: center;
    border-radius: 40px;
    background-color: rgba(80, 180, 228, 0.66);
    margin-top: 20%;
}
.blog-header{
    height:150px;
 }
 #blog-title{
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-size: 16px;
     padding: 0;

}
}
nav.text-center{
    margin: 20px 0;
    font-size: 15px;

}
.panel-heading h3{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
     color: #4eb4e4;
    margin: 10px 0 2px 0;
}
h3.widget-title{
    font-size: 20px;
    text-align: center;
    font-weight: 900;
     color: #4eb4e4;
    margin: 10px 0 2px 0;
}
.screen-reader-text{
    display: none;

}
input[type=search] {
    -webkit-appearance: none;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    width: 100%;
    border: 1.2px solid #ddd;
    font-size: 17px;
}
input[type="submit" i]{
    padding: 7px;
    background-color: #4eb4e4;
    color: #fff;
    border: 1px saddlebrown;
    border-radius: 4px;

}
/*.panel-body aside{
    position: relative;
    max-width: 710px;
    padding-bottom: 3rem;
    border-bottom: 1px solid #cdcdcd;
    word-wrap: break-word;
}*/
aside > ul li {
    max-width: 710px;
    padding: 6px;
    border: 1px solid #cdcdcd;
    word-wrap: break-word;
    margin: 7px;
}
ul li>a{
       color: #333;

}

img.attachment-single-post-thumbnail.size-single-post-thumbnail.wp-post-image{
        width: 100%;
        margin-top: 25px;
/*        height: auto;
*/
}
img {
    height: auto;
    vertical-align: middle;
}
.single-img > img.attachment-single-post-thumbnail.size-single-post-thumbnail.wp-post-image{
    
    width: 95%;
    margin-top: 25px;
    margin-bottom: 30px;
}
figure{
width: 90%;
}
.blog-content.blog-single-content{
    margin-top: 8%;
}
h2.text-center{
    margin-top: 20px;
}
.meta-nav{
    border: 1px solid grey;
    padding: 6px;
    margin-bottom: 10px;
}
.nav-previous{
    margin-bottom: 30px;
}
#reply-title{
    padding-top: 30px;
}
.widget_nav_menu .sub-menu {
    padding-right: 20px;
}
.widget_nav_menu .sub-menu li:first-child {
    padding-top: 5px;
}
.widget_nav_menu .sub-menu li:last-child {
    border-bottom: 0;
}
.blogimg{
    height: 218px;
}