.container-fluid.top {
  text-align: right;
  margin-right: 0;
  margin-left: 0;
  background-color: #353333;
  padding: 8px 24px;
}

.container-fluid.secondary {
  text-align: right;
  margin-right: 0;
  margin-left: 0;
  background-color: #00a4dd;
  padding: 24px 12px;
}

.navmenu.navbar.navbar-inverse.navbar-fixed-top {
  width: 100%;
  box-sizing: border-box;
}

.navbar-inverse {
  background-color: #00a4dd;
  border-color: #00a4dd;
}

.navmenu ul li a {
  color: #fff;
}

.navmenu ul li a {
  line-height: 2.2rem;
  margin-right: 2rem;
  padding: 0.5rem 1rem 0.7rem;
  text-decoration: none !important;
  outline: none;
  position: relative;
}

.primary_menu {
  font-size: 11px;
  font-weight: 500;
  margin-top: 10px;
}

.primary_menu li a:hover {
  color: #00a4dd;
}

.navmenu ul li, .scroll ul li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: -2px 0 0 0;
  position: relative;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
  font-weight: 700;
}

.logo img {
  width: 50px;
  height: auto;
  margin-left: 100px;
}

.ftco-no-pb {
  padding-bottom: 0 !important;
}

.ftco-no-pt {
  padding-top: 0 !important;
}

.ftco-section {
  padding: 7em 0;
  position: relative;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.row {
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* foot css */

.site-footer {
  padding: 100px 20px 15px 20px;
  background-color: #00a4dd;
}

.announce-card {
  height: 250px;
  width: 250px;
  padding: 15px;
  margin-top: -140px;
  background-color: #e4d90f;
  -webkit-box-shadow: 10px 5px 22px 10px #6b6b67d1;
  -moz-box-shadow: 10px 5px 22px 10px #6b6b67d1;
  box-shadow: 5px 5px 15px 6px #6b6b67d1;
}

.announce-card>h2 {
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px 2px #696464b5;
}

.footer-content {
  display: flex;
  color: white;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-divider {
  border-bottom: 2px solid;
  width: 150px;
  margin: 0 0 10px 10px;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
}

.footer-social-media div {
  padding-bottom: 5px;
}

.footer-item-title {
  display: flex;
  flex-direction: column;
  border: 1px solid yellow;
}

.latest {
  background-color: #dadada;
}

.blogimg>img {
  width: 100%;
  height: 320px;
}

.card {
  margin: 15px 0 35px 0;
}

.card {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blog-title {
  padding: 0 20px;
}

.blog-title h3 {
  margin-top: 15px 0 0 0;
}
.blog-link{
  padding-bottom: 15px;
}

.footer-copyright {
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
}

/* missions page start */

.bg-image {
  background-image: url("../img/bgs/mission.jpeg");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Education page */

.education {
  justify-content: space-evenly;
  background-image: url("../img/bgs/educa.jpg");
  height: 100vh;
  display: flex;
}

.module-card-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.education-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  background-color: #01244b;
  height: 150px;
  width: 350px;
  margin: 0 0 0 100px;
}

.research-card {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #01244b;
  min-height: 100px;
  width: 350px;
  padding: 16px;
}

.module-card {
  display: flex;
  flex-direction: column;
  color: #01244b;
  background-color: #fff;
  min-height: 100px;
  padding: 16px;
  width: 350px;
  opacity: 0.9;
}

.module-card-title {
  text-align: center;
  padding: 0 0 12px 0;
  font-size: 2em;
  font-weight: 600;
}

.module-card-content {
  text-align: center;
}

.education .module-card-list:nth-child(2) {
  margin: 100px 0 0 0;
}

/* mission section */
.mission-circle {
  height: 150px;
  width: 250px;
  background-color: #01244b;
  border-radius: 50%;
  box-shadow: 0px 20px #e4d90f;
}

#mission {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: -38px;
  font-weight: bolder;
}

.mission_words {
  text-transform: uppercase;
  text-align: center;
  padding: 54px 24px;
  font-size: 26px;
  line-height: 1.6;
}

.mission-content {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-evenly;
  margin: auto;
}

.mission-item {
  width: 20vw;
  padding: 70px 0 0 0;
}

.mission-page {
  display: flex;
  flex-direction: column;
  transform: translate(0, -100vh);
}

.mission-title {
 padding: 36px 0 0 0;
  color: white;
}



.mission-rectangle {
  background-color: #01244b;
  width: 30%;
  margin: auto;
}