.container-fluid.top {
    text-align: right;
    margin-right: 0;
    margin-left: 0;
    background-color: #353333;
    padding: 8px 24px;
}

.container-fluid.secondary {
    text-align: right;
    margin-right: 0;
    margin-left: 0;
    background-color: #00a4dd;
    padding: 24px 12px;
}

.navmenu.navbar.navbar-inverse.navbar-fixed-top {
    width: 100%;
    box-sizing: border-box;
}

.navbar-inverse {
    background-color: #00a4dd;
    border-color: #00a4dd;
}

.navmenu ul li a {
    color: #fff;
}

.navmenu ul li a {
    line-height: 2.2rem;
    margin-right: 2rem;
    padding: 0.5rem 1rem 0.7rem;
    text-decoration: none !important;
    outline: none;
    position: relative;
}

.primary_menu {
    font-size: 11px;
    font-weight: 500;
    margin-top: 10px;
}

.primary_menu li a:hover {
    color: #00a4dd;
}

.navmenu ul li, .scroll ul li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: -2px 0 0 0;
    position: relative;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 700;
}

.logo img {
    width: 50px;
    height: auto;
    margin-left: 100px;
}

.slider_page img {
    height: 900px;
    width: 100%;
}

.ftco-no-pb {
    padding-bottom: 0 !important;
}

.ftco-no-pt {
    padding-top: 0 !important;
}

.ftco-section {
    padding: 7em 0;
    position: relative;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.row {
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* foot css */

.site-footer {
    padding: 150px 20px 0 20px;
    background-color: #00a4dd;
}

.announce-card {
    color: white;
    font-size: 2em;
    font-weight: 600;
    height: 250px;
    width: 250px;
    position: absolute;
    top: 160vh;
    right: 30px;
    z-index: 1000;
    padding: 15px;
    background-color: #e4d90f;
    -webkit-box-shadow: 19px 20px 22px -10px rgba(247, 234, 13, 0.42);
    -moz-box-shadow: 19px 20px 22px -10px rgba(247, 234, 13, 0.42);
    box-shadow: 19px 20px 22px -10px rgba(247, 234, 13, 0.42);
}

.footer-content {
    display: flex;
    color: white;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-divider {
    border-bottom: 2px solid;
    width: 150px;
    margin: 0 0 10px 10px;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
}

.footer-social-media div {
    padding-bottom: 5px;
}

.footer-item-title {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
}

.latest {
    background-color: #dadada;
}

.card {
    margin-top: 15px;
}

.blogimg>img {
    width: 100%;
    height: 320px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}
.blog-title {
    padding: 12px 24px;
.footer-copyright {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

.mission-page{
    display: flex;
    flex-direction: column;
    background-image: url("../img/bg_1.jpg");
    height: 100vh;
}

.mission-title {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    color: white;
    padding: 100px 0 0 0;

}

.mission-row-one {
    color: white
}

.mission-circle {
    height: 100px;
    width: 200px;
    background-color: #1f1e4b;
    border-radius: 50%;
}