/* GRID */

body, html {
	padding: 0;
	margin: 0;
	overflow-x: hidden !important;
}

iframe {
	border: 0;
}

input, textarea {
	outline: none !important;
	resize: none;
	-webkit-appearance: none;
}

.clear {
	clear: both;
	height: 0;
	font-size: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.color {
	color: #5b93b8;
}

/** MAIN **/

html {
	font-size: 62.5%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
	line-height: 2.2rem;
	margin: 0;
	padding: 0;
	overflow-x: hidden !important;

}

::selection {
	background: #5b93b8;
	color: #ffffff;
}

::-moz-selection {
	background: #5b93b8;
	color: #ffffff;
}

.wrapper {
	overflow: hidden;
}

h4 a {
	color: #333333;
	font-weight: 600;
	text-decoration: none !important;
}
h3 a{
	color: #333333;
}

a:hover {
	color: #00a4dd;
	text-decoration-line: none;

}

strong {
	font-weight: 700;
}

.center {
	text-align: center;
}

.justify {
	text-align: justify;
}

p {
	padding: 0;
}

a.menu_toggler {
	display: none;
}

.mobile_menu_wrapper {
	display: none;
}

/* Main Slider */

#home {
	padding-top: 53px;
}

h4 {
	font-weight: bold;
}

h5 {
	font-size: 18px;
	color: #333;
	font-weight: 300;
	line-height: 27px;
	padding: 0;
	margin: 0 0 7px 0;
}

h6 {
	font-size: 16px;
	color: #333;
	font-weight: 300;
	line-height: 24px;
	padding: 0;
	margin: 0 0 9px 0;
}

h3 {
	font-size: 24px;
	color: #333;
	font-weight: 600;
	line-height: 28px;
	padding: 0;
	/* margin: 0 0 24px 0; */
}

ul.list {
	list-style: disc;
}

ul.list li {
	list-style: disc;
}

/* Footer */

.footer {
	background: #f6f6f6;
	line-height: 24px;
	padding-top: 39px;
	padding-bottom: 24px;
	font-size: 16px;
	color: #666666;
	text-align: center;
}

/* Responsive changes */

@media only screen and (max-width: 767px) {
	#top header {
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 0;
		left: 0;
		background: #eaeaea;
	}
	#top header nav {
		display: none !important;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
.search-wrap-1 {
    position: relative;
    -webkit-box-shadow: 0px 75px 94px -66px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 75px 94px -66px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 75px 94px -66px rgba(0, 0, 0, 0.66);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
	border-radius: 5px;

}
.search-wrap-1 {
	margin-top: -40px;
	margin-left: 280px;
	margin-bottom: -6px;
	z-index: 1000;

	
}
.middle_nav{
	display: block;
}
.middle_nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
  .middle_nav li {
	float: left;
	border-left: 1px solid #232931 ;
	background: #00a4dd;

  }
  
  .middle_nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
  }
h2.text-center {
	text-transform: uppercase;
	padding: 45px;
}